################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/educational-platform-api/config/applicationhost.config
/.vs/educational-platform-api/FileContentIndex/read.lock
/.vs/educational-platform-api/FileContentIndex/b6acb4f4-c252-4508-907d-280a8d5117b7.vsidx
/.vs/educational-platform-api/v16/.suo
/.vs/slnx.sqlite
/.vs/educational-platform-api/v17/.wsuo
/educational-platform-api.Tests/Properties/launchSettings.json
/.vs/educational-platform-api/FileContentIndex/4ce1a971-b6d0-48fc-8cc1-bd3eb68029ba.vsidx
