################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
bin
obj
/.vs/VSWorkspaceState.json
/.vs/educational-platform-api/config/applicationhost.config
/.vs/educational-platform-api/FileContentIndex/read.lock
/.vs/educational-platform-api/FileContentIndex/b6acb4f4-c252-4508-907d-280a8d5117b7.vsidx
/.vs/educational-platform-api/v16/.suo
/.vs/slnx.sqlite
/.vs/educational-platform-api/v17/.wsuo
/educational-platform-api.Tests/Properties/launchSettings.json
/.vs/educational-platform-api/FileContentIndex/4ce1a971-b6d0-48fc-8cc1-bd3eb68029ba.vsidx
/.vs/educational-platform-api/FileContentIndex/ed40577b-3cc4-42fa-9f56-3c0e93fe7e2c.vsidx
/.vs/educational-platform-api/FileContentIndex/d8c0f562-0446-4568-bf4c-8dbbd7480df5.vsidx
/.vs/educational-platform-api/FileContentIndex/5115321b-dcf6-4b11-8038-e2768ed930fe.vsidx
/.vs/educational-platform-api/FileContentIndex/32f2dde0-06cf-47f5-832a-e6061f75f4c9.vsidx
/.vs/educational-platform-api/FileContentIndex/14df6aa9-5708-42bb-89e3-d3f62eb4f4d1.vsidx
